<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB2bizUIn8-jlG4koPQLruuCxU9-V-SqVE</string>
	<key>GCM_SENDER_ID</key>
	<string>62444775290</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.elevens.organizer</string>
	<key>PROJECT_ID</key>
	<string>ios-organizer-af6cd</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-organizer-af6cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:62444775290:ios:dd821c3bea1b34793298c3</string>
</dict>
</plist>